*{
  margin: 0;
  padding: 0;
}

body{
  background: #FCF6F5;
}

.todoContainer{
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.sidebarContents{
  height: 100%;
  width: 30%;
  background: #2BAE66;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  display: flex;
  flex-direction: column;
}

.dashboardContents{
  width: 68%;
}

.app-name{
  height: 30%;
  text-align: center;
  padding-top: 20px;
  width: 100%;
}
.app-name a{
  font-size: 16px;
  color: #FCF6F5;
  width: 100%;
  background: chocolate;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.sub-menu{
  height: 70%;
  text-align: center;
}