@import url('https://fonts.googleapis.com/css?family=Livvic:400,500,600,700,900&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Livvic', sans-serif;
}

body{
  background: #FCF6F5;
}

a{
  text-decoration: none;
}

.todoContainer{
  width: 80%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.sidebarContents{
  height: 100%;
  width: 30%;
  /* background: #2BAE66; */
  background-image: linear-gradient(to top, #051937, #003d62, #00637c, #008a7c, #2bae66);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.header-route-container{
  height: 100%;
  width: 69%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-component{
  background: #2BAE66;
  height: 10%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  margin-bottom: 15px;
}

.body-component{
  width: 95%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.dashboardContents{
  width: 100%;
  height: 90%;
  background-image: linear-gradient(to top, #051937, #003d62, #00637c, #008a7c, #2bae66);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

.app-name-wrapper{
  /* height: 154px; */
  width: 90%;
  margin: 0 auto;
}

.hr-sidebar{
  width: 90%;
  margin: 0 auto;
  border: 1px solid #FCF6F5;
  margin-bottom: 26px;
}

.app-name{
  display: flex;
  margin: 25px 0px 20px 0px;
}
/* .app-name:hover{
  background: rgb(10, 128, 63);
  border-radius: 5px;
} */
.app-name-container{
  padding: 20px 0px 13px 0px;
}

.font-style{
  letter-spacing: 0.17em;
  color: #FCF6F5;
}

.main-text{
  font-size: 25px;
  font-weight: bold;
}

.sub-text{
  font-size: 21px;
  font-weight: bold;
}

.sub-menu{
  height: auto;
  width: 90%;
  margin: 0 auto;
}

.sidebar-sub-menu{
  display: flex;
}
.sidebar-sub-menu div{
  width: 50%;
}

.sidebar-sub-menu img:first-child{
  width: 82px;
  height: 82px;
}

.sidebar-sub-menu:hover{
  /* background-image: linear-gradient(to top, #051937, #061f44, #072550, #092c5e, #0c326b); */
  background: #003d62;
  border-radius: 5px;
}

.sub-menu-list{
  margin: auto;
}

.sub-menu-text{
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 27px;
  text-align: left;
  letter-spacing: 0.17em;
}

.sixty{
  height: 60px;
  width: 60px;
  margin-top: 10px;
}
.headerStyle{
  display: inherit;
}

.header-contents{
  display: flex;
  justify-content: space-between;
  width: 95%;
  height: 100%;
  margin: 0 auto;
}

.header-contents img{
  height: 50px;
  width: 50px;
  margin: auto auto;

}

.headerText{
  margin: auto auto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.17em;
  color: #FCF6F5;
}

.bodyHeader{
  display: flex;
  justify-content: space-between;
  height: 11%;
  padding: 10px;
}

.bodyNotesList{
  height: 85%;
  overflow-y: scroll;
}

.bodycreate{
  height: 85%;
}

.bodyHeader div{
  width: 80%;
  font-weight: 600;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #FCF6F5;
}

.bodyHeader div,.bodyHeader img{
  margin: auto 0;
}


/* Dashboard Lists Starts */
.lists{
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  color: #FCF6F5;
  cursor: pointer;
}
.lists:hover{
  background: #003d62;
}
.bucket-icon{
  width: 10%;
  margin: auto;
}
.bucket-icon img{
  width: 50px;
  height: 50px;
}

.bucket-name{
  width: 50%;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.10em;
  margin: auto;
  white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.bucket-info{
  width:40%;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.06em;
  margin: auto;
  text-align: right;
}

.bucket-info img{
  width: 50px;
  height: 50px;
}

.bucket-info div{
  display: flex;
  justify-content: flex-end;
}

.bucket-info div div{
  margin: auto 0 auto auto;
}

.bucket-info div input{
  width: 30px;
  height: 30px;
}

/* Create Todo Note form */
.create-form{
  padding: 10px;
}

.form-group{
  margin-bottom: 15px;
}

.form-group div{
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.10em;
  color: #FCF6F5;
}

.form-group input,textarea,select{
  background: #FCF6F5;
  border-radius: 4px;
  width: 100%;
}

.form-group input,select{
  height: 30px;
}

.form-group button{
  background: #FCF6F5;
  border-radius: 4px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.19em;
  color: #2BAE66;
  padding: 5px 20px;
}

.err {
  margin-bottom: 15px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: red;
}










.modal-wrapper {
  background: white;
  border: 1px solid #d0cccc;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.modal-header {
  background-image: linear-gradient(to top, #008a7c, #2bae66);
  height: 40px;
  line-height: 40px;
  padding: 5px 20px;
  text-align: right;
}

.modal-header div {
  float: left;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.10em;
  color: #FCF6F5;
}

.modal-body {
  padding: 10px 15px;
  text-align: left;
  
  margin-bottom: 15px;
  
}

.modal-body p {
  overflow: hidden;
  overflow-y: scroll;
  max-height: 300px;
  overflow-wrap: break-word;
}

.modal-body img{
  height: 50px;
  width: 50px;
}

.modal-footer {
  background-image: linear-gradient(to top, #008a7c, #2bae66);
  height: 35px;
  padding: 15px;
}

.close-modal-btn {
  color: white;
  cursor: pointer;
  float: right;
  font-size: 30px;
  margin: 0;
}

.close-modal-btn:hover {
  color: black;
}

.btn-cancel{
  background: #FCF6F5;
  border-radius: 4px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.19em;
  color: #2BAE66;
  padding: 5px 20px;
}

.btn-cancel {
  float: right;
}

.btn-continue img{
  width: 50px;
  height: 50px;
}

.back-drop {
  background-color: rgba(48, 49, 48, 0.42);
  height: 100%;
  position: fixed;
  transition: all 1.3s;
  width: 100%;
  top: 0;
  left:0;
}

.modal-text-header{
  display: flex;
  justify-content: space-between;
}

.modal-text-header div{
  margin: auto 0;
}

@media only screen and (max-width:1173px){
  .app-name img{
    width: 80px;
    height: 80px;
  }
  .app-name-container{
    padding: 8px 0px 13px 0px;
  }
  .main-text{
    font-size: 23px;
  }
  .sub-text {
    font-size: 17px !important;
}
}


@media only screen and (max-width:991px){
  .todoContainer{
    display: block;
    width: 90%;
  }
  .sidebarContents{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
  .header-route-container{
    width: 100%;
  }
  .app-name{
    margin: 0px;
  }
  .hr-sidebar {
    border: 0.7px solid #FCF6F5;
    margin-bottom: 0px;
}
}


@media only screen and (max-width:575px){
  .lists {
    display: block;
  }
  .lists div{
    width: 100%;
  }
  .modal-wrapper {
    width: 95%;
}
.modal-body p {
  height: 150px;
  overflow: scroll;
  overflow-wrap: break-word;
}
}